<footer>
    <div class="logo">
        <img src="https://github.com/baxx1199/LirycsApp_angular/blob/f19e5ddd0c341ee9c02975564253374fccb9609c/src/assets/logo.jpg" alt="logo de nota musical">
        <strong>Liryc-App</strong>
    </div>
    <div class="resourcesUse">
        <ul>
            <li><a href="https://lyricsovh.docs.apiary.io/#" target="_blank">Api Lirycs</a></li>      
            <li><a href="https://theaudiodb.com/api_guide.php" target="_blank">Api Info Artista</a></li> 
                                  
        </ul>
    </div>
</footer>
